/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

html{
  background-color: #f7f7f7;
}

@font-face{
  font-family: "Orelo";
  font-family: "Nimbus-Sans";
  font-family: "Circular Std";
}

/* LIST ITEMS */
li {
  padding: 1em;
}

/* code help by https://www.princexml.com/forum/topic/2987/increase-the-size-of-the-ul-bullets */
li.bullets::marker {
  font-size: 0.2em;
  color: gray;
}

li.numbers::marker {
  font-family: "Circular Std";
  font-size: 2em;
  color: gray;
  padding-left: 0em;
}

ol.numbers {
  list-style-position: inside;
  padding-left: 0em;
}

.navigation-example {
  margin-right: 10em;
}

/* FORMS */ 
/* code help courtesy of https://www.w3schools.com/css/css_form.asp */
input[type=text], select, textarea {
  width: 93%;
  margin-left: 30px;
  padding: 10px 0px 10px 0px;
  border: none;
  border-bottom: 2px solid #bdbdbd;
  resize: vertical;
  background-color: #eeeeee;
}

input[type=submit] {
  background-color: #f6dca1;
  color: #675630;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  margin: 30px 0px 0px 0px; /* top right bottom left */
}

input[type=submit]:hover {
  background-color: #f0bc3b;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.container {
  /* border-radius: 5px; */
  background-color: #eeeeee;
  padding: 30px 0px 0px 0px;
  width: 75%;
}


.col-75 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* code help by https://www.w3schools.com/css/css3_fonts.asp 
https://www.balbooa.com/knowledgebase/32-documentation-faq-joomla/176-how-to-add-custom-font-to-website-through-fontface*/
.orelo {
  font-family: "Orelo Standard DemiBold", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 5em;
  padding: 0px;
  margin: 0px;
}

.orelo-small {
  font-family: "Orelo Standard DemiBold", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  padding: 0px;
  margin: 0px;
}

.nimbus-subheading {
  font-family: "Nimbus-Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 5em;
  padding: 0px;
  margin: 0px;
}

.nimbus-subheading-small {
  font-family: "Nimbus-Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  padding: 0px;
  margin: 0px;
}

.nimbus-body {
  font-family: "Nimbus-Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 5em;
  padding: 0px;
  margin: 0px;
}

.nimbus-body-small {
  font-family: "Nimbus-Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  padding: 0px;
  margin: 0px;
}

.circular {
  font-family: "Circular Std", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 5em;
  padding: 0px;
  margin: 0px;
}

.circular-small {
  font-family: "Circular Std", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2em;
  padding: 0px;
  margin: 0px;
}

p.nimbus-body {
  font-family: "Nimbus-Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: .9em;
  line-height: 1.5em;
  width: 70%;
}

h2.nimbus-subheading {
  font-family: "Nimbus-Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;
  padding: 0px 0px 50px;
}

h1.orelo-heading {
  font-family: "Orelo Standard DemiBold", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 3em;
  padding: 80px 0px 10px; /* top right bottom left */
  margin: 0px;
}

body {
  font-family: sans-serif;
  padding: 2rem;
}

section:not([id]) {
  margin: 1em 0; /* top right bottom left */
  padding: 0.5em 0;
  border-top: 1px solid #e4e4e4;
}

section h3 {
  margin-bottom: 0;
}

section p {
  margin-top: 0;
  font-size: .8em;
  line-height: 2em;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  line-height: 2rem;
}

/* code help by https://www.w3schools.com/css/css_form.asp */

input.comments {
  width: 100%;
  height: 100px;
  padding: 15px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input.form {
  width: 100%;
  padding: 15px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select.form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.forms {
  display: inline-block;
  width: 45%;
  padding-right: 5rem;
}

.forms2 {
  display: inline-block;
  width: 45%;
}

a {
  font-family: "Nimbus-Sans", sans-serif;
  color: gray;
  text-decoration: none;
}

a:hover, a:focus {
  font-family: "Nimbus-Sans", sans-serif;
  color: #F0BC3B;
  border-bottom: 2px solid #F0BC3B; /* https://www.w3schools.com/cssref/pr_border-bottom.asp */
  -webkit-transition: border-bottom 0.2s ease-out;
  transition: color 0.2s ease-out;
}

button {
  background-color: #31322B;
  color: #F7F7F7;
  border: none;
}

button:hover, button:focus, button:active {
  background-color: #FEBD2D;
}

li.num-list {
  list-style: none;
}

.num {

  font-family: "Circular Std Bold";
  display: inline-block;
  text-align: center;
  margin: 10px -10px;
  width: 50px;
  height: 20px;
  font-size: .6rem;
  }

/* 
  PRODUCT LISTING -------------------
*/

/* HOLDING DIV */
.product-listing {
  width: 100%;
}

/* PLACEHOLDER IMAGE */
.product-image {
  width: 30%;
  height: 500px;
  background-color: gray;
  display: inline-block;
  margin-left: 650px;
  margin-top: -100px;
}

/* BUTTON */
.purchase-button {
  display: inline-block;
  position: absolute;
  padding: 0.5em 0.75em;
  color: #675630;
  background-color: #f6bd39;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  margin-top: 300px;
  margin-left: 600px;
  z-index: 10;
}

.purchase-button:hover, .purchase-button:focus {
  background-color: #E0A51D;
}

.product-description {
  width: 50%;
  display: inline-block;
  position: absolute;
  padding-top: 30px;
}

h1.item {
  font-family: "Orelo Standard DemiBold", sans-serif;
  font-size: 2em;
  display: inline-block;
}

h2.item {
  font-family: "Nimbus-Sans", sans-serif;
  font-size: 1.5em;
  display: inline-block;
  margin-left: 500px;
}

h3.item {
  font-family: "Nimbus-Sans", sans-serif;
  font-size: 1em;
  display: inline-block;
  padding-right : 20px;
}

/* 
  COLOUR PALETTE DIVS -------------------
*/

div.color1 {
  width: 100px;
  height: 100px;
  background-color: #f6bd39;
  text-align: center;
  display: inline-block;
  padding-top: 40px;
  font-size: 0.7em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.color2 {
  width: 100px;
  height: 100px;
  background-color: #F6DCA1;
  text-align: center;
  display: inline-block;
  padding-top: 40px;
  font-size: 0.7em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.color3 {
  width: 100px;
  height: 100px;
  background-color: #675630;
  color: white;
  text-align: center;
  display: inline-block;
  padding-top: 40px;
  font-size: 0.7em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.color4 {
  width: 100px;
  height: 100px;
  background-color: #31322B;
  color: white;
  text-align: center;
  display: inline-block;
  padding-top: 40px;
  font-size: 0.7em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.color5 {
  width: 100px;
  height: 100px;
  background-color: #CCC5B9;
  color: white;
  text-align: center;
  display: inline-block;
  padding-top: 40px;
  font-size: 0.7em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.color6 {
  width: 100px;
  height: 100px;
  background-color: #555350;
  color: white;
  text-align: center;
  display: inline-block;
  padding-top: 40px;
  font-size: 0.7em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.color7 {
  width: 100px;
  height: 100px;
  background-color: #7B7977;
  text-align: center;
  display: inline-block;
  padding-top: 40px;
  font-size: 0.7em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.color8 {
  width: 100px;
  height: 100px;
  background-color: #A09F9E;
  text-align: center;
  display: inline-block;
  padding-top: 40px;
  font-size: 0.7em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.color9 {
  width: 100px;
  height: 100px;
  background-color: #C6C5C4;
  text-align: center;
  display: inline-block;
  padding-top: 40px;
  font-size: 0.7em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.color10 {
  width: 100px;
  height: 100px;
  background-color: #ECEBEB;
  text-align: center;
  display: inline-block;
  padding-top: 40px;
  font-size: 0.7em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.type {
  display: inline-block;
  padding-right: 5rem;
}




/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5em 0.75em;
  color: #675630;
  background-color: #f6bd39;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.button-nav:hover, .button-nav:focus {
  background-color: #E0A51D;
}



/* 
  TEXT ELEMENTS -------------------
*/




/* 
  COMBINED ELEMENTS -------------------
*/